.jumbotron {
    color: white;
    background-color: rgb(44, 126, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}
.container-stats {
    background-color: rgb(152, 212, 250);
    font-size: 20px;
   
    padding-bottom: 10px;
}
.btn {
    background-color: lightskyblue;    
}
.card{
    background-color: rgb(144, 204, 241);
    border: 2px solid rgb(3, 83, 133);
    margin: 10px;
    font-size: 19px;
}
body {
    background-color: rgb(192, 228, 250);
}
.city-btn {
    background-color: lightskyblue;
    margin-right: 10px;
    display:inline-block;
    text-align: center;
}